// Bebas Neue
@font-face {
  font-family: 'Bebas Neue';
  src: url('../assets/fonts/BebasNeue.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/BebasNeue.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/BebasNeue.ttf')  format('truetype'); /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  400;
}

// Futura 
@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/Futura-Medium.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Futura-Medium.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/Futura-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Futura-Medium.svg#6e1e5153b1feaeba3722775467f6cd3b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

// Gotham Light
@font-face {
  font-family: 'Gotham Light';
  src: url('../assets/fonts/Gotham-Light.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Gotham-Light.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/Gotham-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Gotham-Light.svg#bf16822e282b4d885cff891f3a65335d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

// Gotham Medium
@font-face {
    font-family: 'Gotham Medium';
    src: url('../assets/fonts/GothamMedium.eot');
    src: url('../assets/fonts/GothamMedium.eot') format('embedded-opentype'),
         url('../assets/fonts/GothamMedium.woff2') format('woff2'),
         url('../assets/fonts/GothamMedium.woff') format('woff'),
         url('../assets/fonts/GothamMedium.ttf') format('truetype'),
         url('../assets/fonts/GothamMedium.svg#GothamMedium') format('svg');
    font-style:   normal;
    font-weight:  400;
}

// Gotham Book
@font-face {
  font-family: 'Gotham Book';
  src: url('../assets/fonts/Gotham-Book.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Gotham-Book.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Gotham-Book.svg#7510147900d23fa3ad697e74bf146ea2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

// Gotham Bold
@font-face {
    font-family: 'Gotham Bold';
    src: url('../assets/fonts/GothamBold.eot');
    src: url('../assets/fonts/GothamBold.eot') format('embedded-opentype'),
         url('../assets/fonts/GothamBold.woff2') format('woff2'),
         url('../assets/fonts/GothamBold.woff') format('woff'),
         url('../assets/fonts/GothamBold.ttf') format('truetype'),
         url('../assets/fonts/GothamBold.svg#GothamBold') format('svg');
    font-style:   normal;
    font-weight:  700;
}



