@font-face {
  font-family: 'Bebas Neue';
  src: url('../assets/fonts/BebasNeue.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/BebasNeue.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/BebasNeue.ttf')  format('truetype'); /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  400;
}

// Gotham Light
@font-face {
  font-family: 'Gotham Light';
  src: url('../assets/fonts/GOTHAM-LIGHT.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/GOTHAM-LIGHT.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/GOTHAM-LIGHT.ttf')  format('truetype'); /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  200;
}

// Gotham Medium
@font-face {
  font-family: 'Gotham Medium';
  src: url('../assets/fonts/GOTHAM-MEDIUM.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/GOTHAM-MEDIUM.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/GOTHAM-MEDIUM.ttf')  format('truetype'); /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  400;
}

// Gotham Book
@font-face {
  font-family: 'Gotham Book';
  src: url('../assets/fonts/GothamBook.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/GothamBook.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/GothamBook.ttf')  format('truetype'); /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  400;
}

// Gotham Bold
@font-face {
  font-family: 'Gotham Bold';
  src: url('../assets/fonts/GOTHAM-BOLD.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/GOTHAM-BOLD.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/GOTHAM-BOLD.ttf')  format('truetype'); /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  700;
}
