footer {
	position: absolute;
	bottom: -50px;
	opacity: 0;
	width: 100%;
	padding-top: 10px;
	text-align: center;
	z-index: 2;
	background-color: #fafafa;
	transition: all .3s ease;
	&.show {
		bottom: 0px;
		opacity: 1;
	}
	nav{
		position: relative;
		display: inline-block;
		vertical-align: top;
		span {
			position: absolute;
			content: '';
			left: -10px;
			top: 0;
			width: 5px;
			height: 20px;
			background-color: $green;
			transition: all .3s ease;
		}
		a{
			position: relative;
			display: inline-block;
			font-family: $futura;
			height: 50px;
			margin-right: 45px;
			font-size: 14px;
			color: rgba(0,0,0,0.15);
			line-height: 22px;
			transition: all .3s ease;
			&.active{
				color: $black;
				&::before {
					position: absolute;
					content: '';
					left: -10px;
					top: 0;
					width: 5px;
					height: 20px;
					background-color: $green;
				}
			}
			&:hover {
				color: $black;
			}
		}
	}
}

