<section id="home">
	<div class="galaxyContainer"></div>
	<ul>
		{{#each artist}}
			<li>Name: {{this.name}} - <a href="#" data-section"author-detail">Id : {{this.id}}</a> - Age : {{this.age}} - {{this.presentation}}</li>
		{{/each}}
	</ul>
	
</section>